
// aside
body {
    height: 100vh;
}

header{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(112, 128, 112);
    color:white
}
.cs-container{
    padding-top: 70px;

}
aside{
    width: 70px;
    height: calc(100vh - 70px);
    background-color: rgb(112, 128, 112);
    text-align: center;
    .text{
        display: none;
    }
    .icon{
        margin-bottom: 10px;
    }
}

@media all and (min-width: 576px ) {
    aside{
        text-align: left;
        width: 220px;
        .text{
            display: block;
        }
        .icon{
            display: none;
        }
    }
}


.debug {
    border: 1px solid red;
}

.content-container {
    overflow: hidden;
}
