.home.content {
    h1 {
        font-size: 3rem;
    }
    .text {
        width: 100%;
    }
    .image {
        width: 100%;
    }
}

@media all and (min-width: 576px ){
    .home.content {
        .image {
            width: 40%;
        }
    }
}
@media all and (min-width: 992px ){
    .home.content {
        .text {
            width: 60%;
        }
    }
}
.subtitle{
    color:$secondary_color;
}
.beta{
    background-color: $secondary_color;
    img{
        border-radius: 50%;
    }
    .text{
        color:$primary_color;
        .subtitle{
            color: $tertiary_color;
        }
    }
}
