ul {
    margin: 0;
    padding: 0;
}
.custom-card {
    border-radius: 10px;
    margin-bottom: 20px;
    min-width: 300px;
  }

  .custom-card-title {
    background-color: #df750b;
    color: #F5EBDC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;

  }

  .custom-card-content {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
  }

  .table{
    th , td{
        color:#4D2213;
    }
  }

  @media all and (max-width:576px) {
    .custom-card {
        font-size: 0.6rem;
    }
  }
