// products

    .card.product{
        overflow-y: auto;
        background-color: white;
        &.unavaliable{
        background-color: #7575753d;}
        &:hover{
            box-shadow: 0px 0px 30px 5px rgba(120, 119, 118, 0.575);
        }
        .image{
            height: 150px;
            .card-img-top {
                border-radius: 10%;
                overflow: hidden;
                &:hover {
                    opacity: .9;
                }
            }
        }
    }

    .form-container{
        display: flex;
        justify-content: center;

    }
    .form-cs{
        width: 100%;
    }
    @media all and (min-width: 992px){
        .form-cs{
            width: 50%;
        }
    }

